body{
  margin: 0;
  /*z-index:-1;*/
  background-color: slategrey;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:60px;
  overflow: hidden;
  background-color: white;
}

li {
  margin: 0;
  float: left;
  height: 60px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  /*background-color: black;*/
  color: black;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
}
.navbartitle{
  color: black;
  margin: 5px 0 0 15px;
}
.incontent{
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
}
details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}

.flex-container {
  display: flex;
  background-color: transparent;
}

.flex-container > div {
  /*background-color: #f1f1f1;*/
  margin: 10px;
  padding: 2px;
  /*font-size: 30px;*/
}
.inflex {
  margin: 8px;
}
.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
.button1 {
  background-color: black;
  padding: 9px 20px;
  margin-left: 18px;
  margin-bottom: 18px;
  border-radius: 8px;
}
.chart{
  /*position:absolute*/
  /*padding:50px;*/
  /*margin: 10px;*/
}
.inchart{
  margin-top: 25px;
  padding: 10px;
}