<div class="incontent" style="background-color: cadetblue">
    <form action="/binance" method="POST">
        <div class="flex-container">
            <div><p class="inflex">Start date:</p><p class="inflex">End date:</p></div>
          <div><input style="margin-bottom: 5px; margin-top:5px" type="date" value="{{dates[0]}}" name="sd"><br><input type="date" value="{{dates[1]}}" name="ed"></div>
          <div><label for="coins"><p class="inflex">Choose a coin:</p></label></div>
          <div>
            <select name="coins" id="coins" style="margin-top:5px">
                {% for coin in coins %}
                    <option value="{{coin}}">{{coin}}</option>
                {% endfor %}
            </select>
          </div>
          <div><button class="button button1">Submit</button></div>
        </div>
    </form>
    <div class="inchart" style="background-color: cadetblue">
        <div id="chart" class="chart"></div>
        <script type="text/javascript">
            var graphs = {{graph | safe}};
            Plotly.plot('chart',graphs,{});
        </script>
    </div>
</div>

