<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type = "text/css" href = "../static/index.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Final website</title>
</head>
<body>
<div style="background-color: rgba(0, 0, 0, 0.1); width: 100%;height: 100%; z-index: -10">
<ul>
  <li><a class="active" href="/">Home</a></li>
    {% for bot in bots %}
      <li><a class="inactive" href="/bots/{{bot.name}}">{{bot.name}}</a></li>
    {% endfor %}
</ul>
<div style="margin-left:15%;padding:1px 16px;">
  <h2 style="color: white">Bot Performance Monitoring</h2>
    <h3 style="color: white"><em>"Wow such amazing website, thanks Mattia"</em> -Satisfied Customer 2021</h3>
</div>

<div class="square">
    {% if url_for(request.endpoint) != '/all'  %}
    <p class="inbox">To show all bots smash the flying taco</p>
    <p class="comment1">(Make sure not to abuse this. It takes up a lot of processing power)</p>
    <a href="/all"><img src="../static/images/27020427_170x100.png" alt="this slowpoke moves"  width="250"/></a>
    {% else %}
    <p class="inbox">All bots</p>
    <p class="comment1"></p>
    <div id="chartall" class="chartall"></div>
    {% endif %}

    <script type="text/javascript">
        var graphs = {{graph | safe}};
        Plotly.plot('chartall',graphs,{});
    </script>
</div>
    <img src="https://i.imgur.com/e1IneGq.jpg" alt="this slowpoke moves"  width="250" style="margin-top:50%;" />
<!--<footer>aaa</footer>-->
</div>
</body>

</html>